html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Containers
-------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-width: 1px;
  border-radius: 20px;
  background-color: #2D769F;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin: 10px
}

.btnOutlined {
  display: inline-block;
  padding: 10px 20px;
  border-width: 1px;
  border-radius: 20px;
  background-color: #f8f8f8;
  color: #2D769F;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin: 10px
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 230px;
}

.btn:hover {
  background-color: #27466B;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #27466B;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #27466B;
  color: #2D769F;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.landing-header {
  color: #2D769F;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.landing-copy {
 font-weight: 300;
 font-size: 20px;
 max-width: 50%;
 line-height: 30px;
}

.page-subheadings {
  color: #2D769F;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-left: 10%;
  margin-right: 10%;
}

ul {
  list-style: none
}

.prompts{
  cursor: pointer;
}

.videos-btn{
  font-size: 20px;
}

.input-box {
  padding: 7px;
  font-size: 19px;
  border-radius: 5px;
}

.submit-link{
  display: inline-block;
  color: #2D769F;
  background-color: #ffffff;
  text-align: center;
  padding-left: 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
}

.add-prompts-btn, .nevermind-btn{
  display: inline-block;
  color: #2D769F;
  background-color: #ffffff;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.add-prompts-condit {
  padding-top: 2%;
}

.delete-link {
  display: inline-block;
  color: red;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.popup {
  margin: auto;
  background: #ffffff;
  width: 80%;
  padding: 20px;
  border: 1px solid black;
}